@import "null.css";
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600;700;800&family=Inter:wght@400;600;700&display=swap");

body {
	color: #2d2d2d;
	font-family: "Epilogue";
	font-weight: 600;
}
.container {
	max-width: 1280px;
	margin: auto;
}
.header {
	height: 80px;
	flex: 1 1 auto;
	padding: 25px 0;
	justify-content: space-between;
	display: flex;
	align-items: center;
}

.header__logo {
	text-decoration-line: underline;
	font-size: 20px;
}
.header__menu {
	display: flex;
	font-size: 17px;
	gap: 51px;
}
.header__menu-link {
	color: #2d2d2d;
}
.preview {
	height: calc(100vh - 80px);
}
.preview__container {
	display: flex;
	padding: 0 40px;
	justify-content: space-between;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	align-items: center;
}
.preview__text {
	display: flex;
	flex-direction: column;
	max-width: 464px;
}
.preview__text-before {
	font-size: 20px;
	margin-bottom: 46px;
}
h1 {
	font-size: 100px;
}
.preview__text-after {
	font-weight: 400;
	font-size: 17px;
	margin-top: 50px;
	line-height: 27px;
}
.preview__img {
	width: 408.97px;
}
.brands {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.section {
	margin-top: 135px;
	text-align: center;
}
.section__container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.section__item {
	max-width: 330px;
}
.project-item {
	margin-top: 60px;
	text-align: start;
}
.section__item-title {
	margin: 61px 0 19px 0;
	font-size: 27px;
	line-height: 42px;
}
.project-title {
	font-size: 20px;
	margin: 25px 0 10px 0;
}
.section__item-subtitle {
	max-width: 250px;
	font-weight: 400;
	font-size: 17px;
	line-height: 27px;
	margin: auto;
}
.project-subtitle {
	margin: 0;
}
.section__title {
	font-size: 32px;
	line-height: 42px;
	text-align: center;
}
.clients {
	background-color: #f3f3f3;
	padding: 30px;
}
.clients__review {
	line-height: 30px;
	text-align: start;
	margin: 0 0 140px 0;
}
.clients__subtitle {
	max-width: 125px;
	text-align: left;
}
.clients__avatar {
	align-self: start;
}
.clients__stars {
}
.clients__body {
	margin: 0 0 0 20px;
}
.clients__container {
	display: flex;
}
.clients__title {
	margin-bottom: 54px;
}
