body{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    background: #E5E5E5;
    color: #241E22;

}
.header{
    width: 1400px;
    margin: auto;
    display: flex;
    align-items: center;
}
.header img{
    width: 70px;
    margin-top: 20px;
    padding-bottom: 20px;
}
.header-text{
    font-size: 36px;
    margin-left: 20px;
    font-weight: 600;
}
ul{
    padding: 0;
}
.menu{
    position: fixed;
    left: 30px;
    top: 50%;
    transform: translate(0, -50%);
}
.nav-link{
    writing-mode: vertical-rl;
    transform: scale(-1);
    list-style-type: none;
}
.nav-link a{
    text-decoration: none;
    color: #5B5B5B;
    margin: 0 0 30px 0;
    transition: 0.3s;
    font-size: 32px;
}
.nav-link a:hover{
    color: #9a9a9a;
}
.first-screen{
   
} 
.first-screen_head  {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.first-screen_title{
    color: #241E22;
    font-size: 54px;
    font-weight: 600;
   
}
.first-screen_description {
    color: #373737;
    font-size: 24px;
    max-width: 600px;
}
.first-screen img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 400px;
    margin: 0 0 0 500px;
    padding-top: 150px;
}

@media (max-width: 1200px) {
    .header{
        width: 80vw;
    }
}